@if (show() && hasSuggestions()) {
  <div
    class="absolute z-10 w-full mt-2 bg-base-100 rounded-lg shadow-lg border border-base-300 max-h-96 overflow-y-auto"
    (mousedown)="$event.preventDefault()"
  >
    @if (loading()) {
      <app-loading-spinner size="sm" />
    } @else {
      <div class="p-2">
        @for (suggestion of suggestions(); track suggestion) {
          <app-autocomplete-suggestion-item
            [suggestion]="suggestion"
            (suggestionClick)="selectSuggestion.emit(suggestion)"
          />
        }
      </div>
    }
  </div>
}
