@if (hasManifest()) {
  @switch (viewerType()) {
    @case ('tify') {
      <app-tify-iiif-widget
        [node]="node()"
        [property]="property()"
        [options]="options()"
      />
    }
    @case ('mirador') {
      <app-mirador-iiif-widget
        [node]="node()"
        [property]="property()"
        [options]="options()"
      />
    }
    @case ('universalviewer') {
      <app-universalviewer-iiif-widget
        [node]="node()"
        [property]="property()"
        [options]="options()"
      />
    }
  }
} @else {
  <app-image-gallery-widget
    [node]="node()"
    [property]="property()"
    [options]="options()"
  />
}
