<ng-template #buttonContent>
  <div class="flex items-center gap-2">
    @if (icon()) {
      <ng-icon [svg]="icon()" [size]="iconSize()" aria-hidden="true"></ng-icon>
    }
    <span [class.sr-only]="iconOnly()">
      {{ isOpen() ? labelWhenOpen() : labelWhenClosed() }}
    </span>
  </div>
  @if (badge()) {
    <span class="badge badge-primary badge-sm absolute -top-2 -right-2">{{
      badge()
    }}</span>
  }
</ng-template>

<!-- Desktop -->
<button
  (click)="onToggle()"
  [class]="buttonClass()"
  class="hidden lg:inline-flex relative"
>
  <ng-container *ngTemplateOutlet="buttonContent"></ng-container>
</button>

<!-- Mobile -->
<label [for]="drawerId()" [class]="buttonClass()" class="lg:hidden relative">
  <ng-container *ngTemplateOutlet="buttonContent"></ng-container>
</label>
