<div class="drawer" [class.lg:drawer-open]="isOpen()">
  <input
    #drawerCheckbox
    [id]="drawerId()"
    type="checkbox"
    class="drawer-toggle"
    [checked]="isOpen()"
  />

  <div class="drawer-content flex flex-col mx-auto max-w-7xl w-full">
    <ng-content select="[drawer-content]"></ng-content>
  </div>

  <div class="drawer-side z-20">
    <label
      [for]="drawerId()"
      [attr.aria-label]="closeLabel()"
      class="drawer-overlay"
    ></label>
    <div class="bg-app-bg-dark min-h-full p-4" [style.width]="sidebarWidth()">
      @if (sidebarTitle()) {
        <div class="flex items-center justify-between mb-4">
          <div class="flex items-center gap-2">
            <h2 class="text-lg font-bold">{{ sidebarTitle() }}</h2>

            @if (sidebarTitleBadge()) {
              <span class="badge badge-primary badge-sm">{{
                sidebarTitleBadge()
              }}</span>
            }
          </div>
          <app-drawer-toggle-button
            [drawerId]="drawerId()"
            [isOpen]="isOpen()"
            (toggle)="toggleDrawer()"
            buttonClass="btn btn-sm btn-circle btn-ghost"
            [icon]="featherX"
            iconSize="20"
            [iconOnly]="true"
          />
        </div>
      }
      <ng-content select="[drawer-sidebar]"></ng-content>
    </div>
  </div>
</div>
