<div class="space-y-6 p-6 max-w-7xl mx-auto bg-app-bg">
  <div role="alert" class="alert alert-warning">
    <ng-icon name="featherAlertTriangle" class="h-6 w-6 shrink-0" />
    <span>
      Let op: Het aanpassen van instellingen via dit paneel is nog onder
      ontwikkeling. Voor meer informatie, zie
      <a
        href="https://docs.valeros.nl/guide/config-ui.html"
        target="_blank"
        class="link link-primary"
      >
        docs.valeros.nl</a
      >.
    </span>
  </div>

  <div>
    <h2 class="text-lg font-semibold">Thema</h2>
    <app-theme-switcher />
  </div>

  <div>
    <h2 class="text-lg font-semibold">Zoekresultaten weergave</h2>
    <app-views-config />
  </div>

  <div>
    <h2 class="text-lg font-semibold">Facets</h2>
    <app-facets-config />
  </div>

  <div>
    <h2 class="text-lg font-semibold">Widgets</h2>
    <p class="text-sm text-gray-500">TODO</p>
  </div>
</div>
