@import url('https://fonts.bunny.net/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import 'tailwindcss';
@source "../node_modules/@rjsf/daisyui";

@theme {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --color-app-bg: var(--app-bg);
  --color-app-bg-dark: var(--app-bg-dark);
}

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

@plugin 'daisyui/theme' {
  name: 'light';
  default: true;
  --color-primary: #007994;
  --color-primary-content: #ffffff;
  --color-neutral: #2d343f;
  --radius-field: 9999px;
}

[data-theme='light'] {
  --font-sans: 'Familjen Grotesk', sans-serif;
  --font-mono: 'Space Mono', monospace;
  --app-bg: #e1ecf2;
  --app-bg-dark: #d1dce2;
}

html,
body,
#root {
  @apply min-h-screen bg-app-bg;
}

.title-field > .divider {
  display: none;
}

.dropdown > [role='button'].btn-outline {
  @apply bg-base-100;
}

@media (width >= theme(--breakpoint-sm)) {
  html {
    font-size: 125%;
  }
}
