@if (expectedThumbnailCount() > 0) {
  <div
    [id]="galleryId"
    [class]="
      expectedThumbnailCount() === 1 ? 'gap-2' : 'columns-1 sm:columns-2 gap-2'
    "
    (click)="$event.stopPropagation()"
  >
    @if (isLoadingImageDimensions()) {
      @for (i of Array(expectedThumbnailCount()); track $index) {
        <div
          [class]="
            'image-container' +
            (expectedThumbnailCount() === 1 ? ' single' : ' multiple')
          "
        >
          <app-image-skeleton [aspectRatio]="'4/3'" />
        </div>
      }
    } @else {
      @for (image of displayedThumbnails(); track $index) {
        @let containerClass =
          'image-container' +
          (displayedThumbnails().length === 1 ? ' single' : ' multiple');

        @if (isLightboxEnabled) {
          <a
            [href]="image.src"
            [attr.data-pswp-width]="image.dimensions?.width || 1280"
            [attr.data-pswp-height]="image.dimensions?.height || 720"
            [attr.aria-label]="'View ' + image.alt + ' in fullscreen'"
            [class]="
              containerClass +
              ' hover:opacity-90 transition-opacity cursor-pointer relative'
            "
          >
            <ng-container
              *ngTemplateOutlet="imageTemplate; context: { image }"
            />
          </a>
        } @else {
          <div [class]="containerClass + ' relative'">
            <ng-container
              *ngTemplateOutlet="imageTemplate; context: { image }"
            />
          </div>
        }
      }
    }
  </div>
}

<ng-template #imageTemplate let-image="image">
  <app-image-with-skeleton
    [src]="image.thumbnail"
    [alt]="image.alt"
    [skeletonAspectRatio]="
      image.dimensions
        ? image.dimensions.width + '/' + image.dimensions.height
        : '4/3'
    "
    (imageError)="onThumbnailError($event)"
  />
</ng-template>
